/* Write your CSS here */
.gitContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.unorderList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 250px;
  padding-left: 0px;
}

.unorderRepositoryContainer {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.popularHeader {
  color: #0f172a;
  font-size: 40px;
  font-family: 'Lobster';
}
